<a href="https://colab.research.google.com/github/Himil192/Himil192/blob/main/submission_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [41]:
df = pd.read_csv("/content/ML_study_jam.csv")

In [42]:
print(df)

     Store ID   Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
0          1.0      1659.0           1961.0                 530.0      66490.0
1          2.0      1461.0           1752.0                 210.0      39820.0
2          3.0      1340.0           1609.0                 720.0      54010.0
3          4.0      1451.0           1748.0                 620.0      53730.0
4          5.0      1770.0           2111.0                 450.0      46620.0
..         ...         ...              ...                   ...          ...
585      586.0      1227.0           1476.0                 720.0      56260.0
586      587.0      1609.0           1930.0                 740.0      76470.0
587      588.0      1553.0           1831.0                 740.0      35680.0
588      589.0      1814.0           2174.0                 770.0      90070.0
589      590.0      1240.0           1493.0                 590.0      33120.0

[590 rows x 5 columns]

In [43]:
#b)
shape=df.shape
print("Shape of data:",shape)

Shape of data: (590, 5)

In [44]:
#num of column in data

num_col=len(df.columns)
print("Num of columns:",num_col)

Num of columns: 5

In [45]:
#number of columns in the data

mean=df.mean()
print("Mean of Data:\n",mean)
mean =df.mean()
print("Mean of Data:\n",mean)

Mean of Data:
 Store ID                  295.369048
Store_Area               1482.250426
Items_Available          1775.050086
Daily_Customer_Count      785.807229
Store_Sales             58223.865979
dtype: float64
Mean of Data:
 Store ID                  295.369048
Store_Area               1482.250426
Items_Available          1775.050086
Daily_Customer_Count      785.807229
Store_Sales             58223.865979
dtype: float64

In [47]:
#c) split a data
category_var = 'Store_Area'
Split_data =  df.groupby(category_var)

In [57]:
#d)Indexing of data

index_column = 'Store ID'
indexed_data = df.set_index(index_column)

KeyError: ignored

In [53]:
#e) Display top 10 rows of data

top_rows = df.head(10)
print('10 rows :\n',top_rows)

10 rows :
    Store ID   Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
0        1.0      1659.0           1961.0                 530.0      66490.0
1        2.0      1461.0           1752.0                 210.0      39820.0
2        3.0      1340.0           1609.0                 720.0      54010.0
3        4.0      1451.0           1748.0                 620.0      53730.0
4        5.0      1770.0           2111.0                 450.0      46620.0
5        6.0      1442.0           1733.0                 760.0      45260.0
6        7.0      1542.0           1858.0                1030.0      72240.0
7        8.0      1261.0           1507.0                1020.0      37720.0
8        9.0      1090.0           1321.0                 680.0      46310.0
9       10.0      1030.0           1235.0                1130.0      44150.0